/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-black font-body;
  }
}
@layer components {
  .page-container {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  @keyframes show {
    from {
      opacity: 0;
      transform: translateX(-30%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .side-bar {
    animation: show 0.3s ease-in;
  }

  .content-page {
    animation: transform 0.5s ease-out;
  }

  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
    // width: fit-content;
  }
  .banner .swiper {
    height: 100%;
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .selected {
      @apply text-primary;
    }
  }
}
